* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

#app,
#intro,
#question-box,
#result-box {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

h3,
h4,
p {
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
  justify-content: center;
}

.btn {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 0.9375rem;
  white-space: nowrap;
  cursor: pointer;
  background: linear-gradient(to bottom, #e1e1e1, #f6f6f6);
  border: 1px solid #aaa;
  border-radius: 5px;
}

.btn:hover {
  color: white;
  background: linear-gradient(to bottom, #5299f7, blue);
}

@media (width <= 480px) {
  #options button {
    min-width: 80px;
    max-width: 80vw;
    font-size: 1.125rem;
  }

  p {
    font-size: 1.125rem;
  }
}
